.splash {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.appIcon {
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  border-radius: 40px;
  position: relative;
  opacity: 0;
  animation: fade-in 250ms 250ms forwards ease-in;
}

.appIcon > svg {
  position: absolute;
}

.appIcon > svg:last-of-type {
  filter: drop-shadow(1px 1px 2px rgba(33, 33, 33, 0.5));
  margin: 1.5em;
}

.title {
  position: inherit;
  font-weight: bold;
  letter-spacing: 3px;
  bottom: -5em;
}

.loading {
  position: absolute;
  width: 42px;
  left: 2em;
  bottom: 2em;
  z-index: 6;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
