.sidebar {
  height: 100%;
}

.sidebar > div:last-child {
  margin-right: var(--space-s);
}

.header {
  padding: var(--space-s);
  background-color: var(--color-bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > .title {
  font-size: 1rem;
}

.header > .title:empty + .actions {
  cursor: not-allowed;
}

.header > .title:empty + .actions > button {
  pointer-events: none;
  opacity: 0.8;
}

.actions {
  visibility: hidden;
}

.sidebar:hover .header > .actions {
  visibility: visible;
}
