* {
  box-sizing: border-box
}

html,
body,
#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--vscode-foreground)
}

#root {
  display: grid;
  grid-template-areas:
    "editor explorer"
    "statusbar statusbar";
  grid-template-columns: 80vw 20vw;
  grid-template-rows: calc(100vh - 22px) 22px;
  overflow: hidden;
}

.editor,
.explorer,
.statusbar {
  position: relative;
}

.editor {
  grid-area: editor;
}

.explorer {
  grid-area: explorer;
}

.statusbar {
  grid-area: statusbar;
}
