@font-face {
	font-family: "Fira Code";
	src: url("/FiraCode-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-bg: #21252b;

	--radius: 6px;

	--sidebar-width: 20vw;
}

html,
body,
#app {
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
	font-family: Roboto, sans-serif;
	color: var(--vscode-foreground);
	font-size: 13px;
	user-select: none;
	background: var(--color-bg);
}

/* #region Reset */
p {
	margin: 0;
}

small {
	font-size: 0.7rem;
}

.monaco-workbench .part.editor > .content .editor-group-container > .editor-group-watermark > .letterpress,
.monaco-workbench.vs-dark .part.editor > .content .editor-group-container .editor-group-watermark > .letterpress {
	background-image: url("/webide-icon.svg") !important;
}

/* #endregion */

/* #region Parts */
#app {
	display: grid;
	grid-template:
		"editor sidebar" calc(100vh - 22px)
		"statusbar statusbar" 22px / calc(100vw - var(--sidebar-width)) var(--sidebar-width);
	overflow: hidden;
}

#editor,
#sidebar,
#panel,
#statusbar {
	position: relative;
}

#editor {
	grid-area: editor;
}

#sidebar {
	grid-area: sidebar;
}

#panel {
	grid-area: editor;
	height: 45vh;
	align-self: end;
}

#statusbar {
	grid-area: statusbar;
}

.part:is(.editor, .sidebar, .panel, .statusbar):focus {
	outline-style: solid;
	outline-width: 1px;
}
/* #endregion */

/* #region Spash */
.splash {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
	background: var(--color-bg);
}

.splash > .app-icon {
	width: 100px;
	height: 100px;
	background-image: url("/icon-192.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.splash > .loading-icon {
	position: absolute;
	left: 3em;
	bottom: 3em;
	width: 48px;
	height: 48px;
}
/* #endregion */

/* #region template */
.templates {
	display: flex;
	gap: 1em;
	margin-top: 3em;
}

.template {
	border: solid 1px rgba(255, 255, 255, 0.1);
	background-color: var(--vscode-sideBar-background);
	padding: 1.3em 2em;
	gap: 1em;
	display: flex;
	align-items: center;
	border-radius: var(--radius);
	cursor: pointer;
	min-width: 180px;
}

.template-info {
	margin-left: 1em;
}

.template-info > p {
	margin-bottom: 6px;
}

.template-info > small {
	color: var(--vscode-sideBarSectionHeader-foreground);
}

.template:hover,
.template:focus {
	outline: solid 1px var(--vscode-focusBorder);
}
/* #endregion template */

/* #region helper */
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 2em 1em;
}

.monaco-button-custom:hover {
	--vscode-button-background: var(--vscode-button-hoverBackground);
}

.caption {
	padding: 5px 0 0;
	margin: 0;
	border: none;
	font-weight: 400;
	font-size: 2.7em;
	white-space: nowrap;
}
/* #endregion */
